# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
pd.set_option('display.max_columns',None)

In [8]:
loan_df = pd.read_csv('data/loan_analysis_data.csv')

# Basic Analysis

In [9]:
loan_df.head()

,account_id,num_acct_users,card_type,loan_amt,loan_duration_mos,monthly_payments,district_id,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,owner_age,mos_with_card,account_len_mos,is_male,target,Prague,central Bohemia,east Bohemia,north Bohemia,north Moravia,south Bohemia,south Moravia,west Bohemia,monthly_acct_bill,trans_acct_bill,weekly_acct_bill,percent_paid,num_insurance_transactions,num_household_transactions,total_insurance_amt_paid,total_house_amt_paid
0,2,2,0,80952,24,3373.0,1,1204953,0,0,0,1,1,100.0,12541,0.2,0.43,167,85677.0,99107,53,0.0,177,1,1,1,0,0,0,0,0,0,0,1,0,0,1.00,0.0,65.0,0.0,472290.0
1,19,1,0,30276,12,2523.0,21,103347,87,16,7,1,7,67.0,9104,1.5,2.07,123,2299.0,2354,59,0.0,113,0,0,0,0,0,0,0,1,0,0,1,0,0,0.67,0.0,32.0,0.0,481000.0
2,25,1,0,30276,12,2523.0,68,228848,15,40,18,2,6,57.2,9893,4.0,4.72,96,5623.0,5887,36,0.0,73,1,1,0,0,0,0,1,0,0,0,1,0,0,1.00,27.0,27.0,4428.0,184059.0
3,37,1,0,318480,60,5308.0,20,70646,94,14,3,1,4,58.4,8547,2.6,3.64,120,1563.0,1542,46,0.0,41,1,0,0,0,0,0,0,1,0,0,1,0,0,0.02,14.0,14.0,1358.0,32438.0
4,38,1,0,110736,48,2307.0,19,51428,50,11,3,1,4,52.7,8402,3.1,3.98,120,999.0,1099,58,0.0,42,0,1,0,0,0,0,0,1,0,0,0,0,1,0.17,12.0,12.0,2736.0,82812.0

In [4]:
loan_df.columns

Index(['account_id', 'num_acct_users', 'card_type', 'loan_amt',
       'loan_duration_mos', 'monthly_payments', 'district_id', 'A4', 'A5',
       'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16',
       'owner_age', 'mos_with_card', 'account_len_mos', 'is_male', 'target',
       'Prague', 'central Bohemia', 'east Bohemia', 'north Bohemia',
       'north Moravia', 'south Bohemia', 'south Moravia', 'west Bohemia',
       'monthly_acct_bill', 'trans_acct_bill', 'weekly_acct_bill',
       'percent_paid', 'num_insurance_transactions',
       'num_household_transactions', 'total_insurance_amt_paid',
       'total_house_amt_paid'],
      dtype='object')

In [ ]:
cat_cols = [
            'num_acct_users', 'card_type', 'district_id', 'is_male', 
            'Prague', 'central Bohemia', 'east Bohemia', 'north Bohemia', 'north Moravia', 
            'south Bohemia', 'south Moravia', 'west Bohemia',
            'monthly_acct_bill', 'trans_acct_bill', 'weekly_acct_bill'
           ]

num_cols = [
            'loan_amt', 'loan_duration_mos', 'percent_paid', 'monthly_payments', 
            'owner_age', 'mos_with_card', 'account_len_mos', 'num_insurance_transactions',
            'num_household_transactions', 'total_insurance_amt_paid', 'total_house_amt_paid'
           ]
            


'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16',